extends ../template.jade

block vars
  - var title = "Timeline | TJMUNQRO 2016"
  - var description = "Know what is our mission as a team planning the TJMUNQRO 2016, what you can expect from us, and why you should choose to assist"
  - var page = 'delegateinfo'
  
block cHead
  link(rel="stylesheet", href="style.css")
  script(type="text/javascript", src="/assets/libs/bower/webcomponentsjs/webcomponents.js")
  link(rel="import", href="/assets/custom_elements/info-box.html")
  
block content
  h1#pageTitle Delegate Info
  
  
  ul.clfix#info-section
    li.thing
        info-box(color="#303F9F")
          h1.firstTitle
            | Dress Code
          .body
            .info-box-group
              h4 Women
              ul
                li Dress
                li Suit
                li Slacks
                li Skirt (one inch above knee or longer)
                li A blouse or sweater
                li Dress Show
            .info-box-group
              h4 Men
              ul
                li Suit or Jacket
                li Dress pants
                li Dress shirt
                li Dress Shoes
                li Ties
          .secondInformation
            p TJMUN places a great emphasis on the dress code because it is vital to establishing the accuracy of the simulation and to uphold the conference atmosphere that allows delegates to play the roles of UN diplomats.
            p The dress code is as follows:
            p Men should wear a suit or a jacket and dress pants, with a dress shirt, tie, and dress shoes.
            p Women should wear a dress, suit, dress slacks, or skirt (one inch above knee or longer), with a blouse or sweater and dress shoes.
            p Delegates should be dressed in a professional manner. Delegates are not allowed to wear any form of national symbol (a pin or ethnic outfit).
            p It is not approved by the TJMUN dress code:  jeans, shorts, casual sandals, sneakers, miniskirts, tank tops, T-shirts.
            p TJMUN staff has the final word in matters of the dress code. If a staff member believes a delegate is inappropriately dressed, they will be asked to change clothes before being allowed to participate in committees. Delegates who refuse to follow the appropriate dress code will receive warnings.
            
    li.thing
      info-box(color="#2E7D32", singlepage="true")
        h1.firstTitle
          | Rules of Procedure
        .body
          .info-box-group
            p Delegates and advisors must obey directions from the TJMUN secretariat and staff members, as well as Thomas Jefferson Institute’s faculty, both during sessions and outside of them. If a delegate violates any regulation established in the code of conduct, the TJMUN staff reserves the right to either dismiss the person in question or give him or her a warning. Delegates must follow the Rules of Procedure of the TJMUN.
        
    li.thing
      info-box(color="#e39700")
        h1.firstTitle
          | Position Paper
        .body
          .info-box-group
            p All delegates must submit one position paper per topic to their committee chairs. You can find their e-mails on the background paper. A position paper is a short essay detailing the country’s position toward a specific topic. The objective of writing position papers is to help delegates organize their ideas, aid in research and information synthesis, and add to the high debate quality of the TJMUN. In addition, position papers serve as a guideline to prepare speeches and address the committee. Position papers must have a specific format and should include particular information regarding the country’s position and the topic. 
        
    li.thing
      info-box(color="silver")
        h1.firstTitle
          | Fees
        .body
          ul
            li $250.00 Mexican Pesos per Delegate
            li $300.00 Mexican Pesos per Delegation (School)
            li $150.00 Observer
            
  #savedate
    img(src="/assets/img/save_the_date.jpg")
  div(id="full-error-view")
    span 
      | I would advise you to not use the iPhone's/iPad's/iPod's browser to view this page.
      button(id="full-error-view-button") Click to Dismiss
  script(src="/assets/js/iOSBrowserError.js")
