extends ../template.jade

block vars
  - var title = "Home | TJMUNQRO 2016"
  - var description = "An open invitation to anyone who is willling to assist TJMUN Queretaro 2016 and participate this December, in an engaging International MUN and OAS Experience"
  - var page = 'home'
  
block cHead
  link(rel="stylesheet", href="assets/styles/home.css")

block content
  article.letter-box
      // Welcoming Letter
      .paper-out
        h1
          | Thomas Jefferson Model UN &amp; OAS 
          br
          b "Building Bridges"
        .tjmun-info.clfix
          // Init counter-box
          .counter-box
            // Main Part
            #counter-main
              img#counter-img.animatable(src='/assets/img/counter_img.png', alt='')
              .time-label
                #label-sec 0
                .unit-label Seconds
            // Main Part Ends
            // Rest Part
            #counter-rest
              .center-time
                // Time Labels Begin
                .time-label
                  #label-days 0
                  .unit-label Days
                .time-label.time-away
                  #label-hrs 0
                  .unit-label Hours
                .time-label.time-away
                  #label-mins 0
                  .unit-label Minutes
                // Time Labels Ends
            // Rest Part
          // Ends Counter Box
          // Init Ribbon
          .tjmun_name-box
            #slogan.green-box
              h2  A Letter From Our President 
            .letter-content
              p.letter-element
                | For over 20 years, Instituto Thomas Jefferson has hosted several UN Model’s in Mexico City and is about to go for its eighth edition on its Queretaro campus. It has been a very ambitious journey from the first year until today, and it grows larger every year. Last year, we had the honor of hosting a pioneer model that included both simulations of the United Nations and the Organization of the American States. It was an aspiring step and a successful achievement; however, this year we are aiming even higher. With competitive and quality committees, as well as social spaces to meet new people from all over Mexico and other countries, this year’s secretariat promises to do its best to make TJMUN &amp; OAS 2016 the most enriching experience for delegates.
          // Ends Ribbon
        // Letter Content Starts
        .letter-content
          p.letter-element
            | High school students get engaged in issues currently debated by world leaders, while developing leadership skills such as diplomacy, cooperation, debate, critical thinking, empathy and innovation. This increases the delegate's knowledge and broadens his/her point of view, not only during the debate, but in the whole experience of the model, on very important issues such as climate change, the fight against poverty, war, and the urge of having sustainable economies around the world.
          p.letter-element
            | On behalf of the Secretariat of TJMUN & OAS 2016 and our entire staff, I hope you can join us in December. Should you have any inquiries, don’t hesitate to contact us through tjmun@itjqro.edu.mx. On our website, you will find all the information you need about committees or any other specific information about the school and Queretaro.
          p.letter-element
            | I’m looking forward to meeting you this December at TJMUN & OAS 2016.
          p.letter-element
            | Sincerely,
            | Humberto G. Salinas
            | President TJMUN & OAS 2016
          .signature
            img#signature(src='/assets/img/carta-signature.png', alt="Humberto Salinas' Signature")
          .letter-pic.member-pic.letter-element
            img(src='/assets/img/president-photo.jpg', alt='')
        // Letter Content Ends
      // Foto de Bienvenida
  script(type="text/javascript", src="/assets/js/counter.js")
