* {
  padding: 0;
  margin: 0;
  font: bold 1em 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}

/*
  Utils
*/
.website-container {
  width: 100%;
  overflow: hidden;
}
.hide {
  visibility: hidden;
}
.clfix::after {
  content: ' ';
  display: block;
  clear: both;
}
.email-link {

}
.paper-out {
  box-shadow: 0px -10px 15px #ccc;
  margin-bottom: 40px;
}
/*.paper-out::after {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  box-shadow: 0px 10px 15px #ccc;
}*/

.member-pic {
  margin: 0 auto;
  width: 250px;
}

.green-box {
  background-color: green;
  color: white;
  padding: 5px 0px 10px 0px;
}

.green-box * {
  border: 4px line white;
}

.app-drawer {
  opacity: 1;
  position: fixed;
  width: 70%;
  top: 0px;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  z-index: 9;
}


/*
Header
*/
.header {
  position: relative;
  background-image: url("../img/tj-clear-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  min-height: 430px;
}
.large-box {
  display: none;
}
.register-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}
.register-box:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.register-box a {
  display: block;
  padding: 30px 0px 30px 0px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.logo {
  background-image: url("../img/tjmun_logoc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 70%;
  min-height: 300px;

  /* Hide Text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.nav-bar {
  background-color: rgba(63, 81, 	181, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.nav-bar ul li {
  display: inline-block;
  color: #c1ee43;
  color: #d9ff12;
  color: #f1ff12;

}

.nav-bar ul li.selected {
  background-color: rgba(255,255,255, 1);
  color: #555;
}

.nav-bar ul li:hover {
  background-color: rgba(255,255,255, 1);
  color: #555;
}

.horizonal-nav-a {
  display: block;
  padding: 30px 20px 30px 20px;
}



/*
  Main Content
*/

.main-container {
  width: 100%;
  margin: 0 auto;
}

/*
  Footer
*/

footer {
  background: url("../img/banner_d.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 100vh;
  height: 100vh;
  color: white;
}

.footer-logo {
  margin-top: 10%;

  display: inline-block;
  width: 100%;
  height: 30%;
  min-height: 200px;
}

footer ul {
  overflow: hidden;
}

footer ul li {
  float: left;

  width: 100%;
  min-height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer ul li a {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;

  font-weight: bold;

}

footer ul li a .icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 50px;
  margin: 0 auto;
}

footer ul li a:hover {
  background-color: rgba(0,0,0, 0.5);
}

footer .policy-footer {
  text-align: center;
}

#faceb-link .icon{
  background-image: url("../img/FB-f-Logo__white_29.png");
}
#faceb-link:hover .icon{
  color: #3B5998;
  background-image: url("../img/FB-f-Logo__blue_29.png");
}

#tweet-link .icon{
  background-image: url("../img/TwitterLogo_white.png");
}
#tweet-link:hover .icon{
  color: #4099FF;
  background-image: url("../img/TwitterLogo.png");
}

#insta-link .icon{
  background-image: url("../img/glyph-logo_May2016.png");
}
#insta-link:hover .icon{
  color: #ffc838;
  background-image: url("../img/Instagram-v051916.png");
}


/*
  Tablets
*/
@media screen and (min-width: 768px) {
  .header {
    height: 60vh;
  }
  .register-box {
    display: none;
  }
  .large-box {
    display: block;
  }
  .main-container {
    width: 97%;
  }
  footer {
    height: auto;
    padding: 10px 0px 10px 0px;
  }
  .nav-bar ul li {
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}

/*
  Desktops
*/
@media screen and (min-width: 1224px) {
  html {
    /*background-color: blue;*/
  }
  .horizonal-nav-a {
    padding: 30px 30px 30px 30px;
  }
  .main-container {
    width: 87%;
  }

  footer {
    background-size: cover;
  }

  footer .main-container {
    display: flex;
    align-items: center;
  }

  .footer-logo {
    margin-top: 0;
    width: 40%;
    float: left;
  }

  footer ul {
    float: left;
    width: 59%;
  }

  footer ul li {
    width: 30%;
  }
  footer ul li a {
    padding: 20px 0px 20px 0px;
  }
}

/*
  Large Desktops
*/
@media screen and (min-width: 1824px) {
  html {
    /*background-color: green;*/
  }
  .horizonal-nav-a {
    padding: 30px 50px 30px 50px;
  }
  .main-container {
    width: 70%;
  }
}
