.time-label {
  text-align: center;
  font-weight: bold;
}

.tjmun-info {
  margin-top: 20px;
  min-height: 200px;
}

.counter-box {
}
.tjmun_name-box {
}

#counter-main {
  min-height: 300px;
  position: relative;
}
#counter-main .time-label {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  margin-left: -53px;
  left: 50%;
  color: white;
  font-size: 3em;
}
#counter-img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  will-change: transform;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}
#counter-rest {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.center-time {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

#counter-rest .time-away {
  margin-left: 30px;
}

#slogan {
  font-size: 2em;
  text-align: center;

}

#slogan-img {
  min-height: 300px;
}

.letter-box {
  margin-top: 100px;
  text-align: center;
}

.letter-box .paper-out {
  padding-top: 10px;
}

.letter-title {
  margin-bottom: 20px;
}

.letter-box h2 {

/*
  padding-top: 20px;
  padding-bottom: 30px;*/
}

.letter-box p {
  text-align: left;
  width: 87%;
  margin: 0 auto;
}

.letter-box .signature {
  margin-top: 30px;
  margin-bottom: 60px;
  /*background-color: black;*/
  height: 180px;
}

.letter-box .letter-pic {
  margin-top: 40px;
  margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
}

/*
  Desktops
*/
@media screen and (min-width: 1224px) {
  html {
    /*background-color: blue;*/
  }
  .counter-box {
    width: 59%;
    float: left;

  }
  .tjmun_name-box {
    width: 39%;
    float: right;
  }
}

/*
  Large Desktops
*/
@media screen and (min-width: 1824px) {
  html {
    /*background-color: green;*/
  }
}
