extends ../template.jade

block vars
  - var title = "Schedule | TJMUNQRO 2016"
  - var description = "Learn about the events in TJMUNQRO 2016"
  - var page = 'schedule'
  
block cHead
  link(rel="stylesheet", href="style.css")
  
block content
  h1#pageTitle Schedule
  #schedule-container
    #day-1-container.day-container
      h2 Day 1
      .event-container
        h3 Registration
        .time 4:00pm - 5:00pm
        .icon-container
      .event-container
        h3 Opening Ceremony
        .time 5:00pm - 5:40pm
        .icon-container
      .event-container
        h3 Official TJMUN Photo
        .time 5:40pm - 6:20pm
        .icon-container
      .event-container
        h3 Talk
        .time 6:20pm - 7:30pm
        .icon-container
        
    #day-2-container.day-container
      h2 Day 2
      .event-container
        h3 Introductory Session
        .time 8:30am - 9:30am
        .icon-container
      .event-container
        h3 1st Session
        .time 9:45pm - 11:30pm
        .icon-container
      .event-container
        h3 Break
        .time 11:30am - 12:00pm
        .icon-container
      .event-container
        h3 2nd Session
        .time 12:00pm - 2:00pm
        .icon-container
      .event-container
        h3 Break
        .time 2:00pm - 4:00pm
        .icon-container
      .event-container
        h3 3rd Session
        .time 4:00pm - 5:30pm
        .icon-container
      .event-container
        h3 Break
        .time 5:30pm - 6:00pm
        .icon-container
      .event-container
        h3 4th Session
        .time 6:00pm - 7:30pm
        .icon-container
      .event-container
        h3 Delegates' Cocktail
        .time 7:45pm - 10:00pm
        .icon-container
        
    #day-3-container.day-container
      h2 Day 3
      .event-container
        h3 5th Session
        .time 9:00am - 11:00am
        .icon-container
      .event-container
        h3 Break
        .time 11:00am - 11:30am
        .icon-container
      .event-container
        h3 6th Session
        .time 11:30am - 1:30pm
        .icon-container
      .event-container
        h3 Break
        .time 1:30pm - 2:00pm
        .icon-container
      .event-container
        h3 7th Session
        .time 2:00pm - 2:30pm
        .icon-container
      .event-container
        h3 Break
        .time 2:30pm - 3:00pm
        .icon-container
      .event-container
        h3 Closing Ceremony
        .time 3:00pm - 4:00pm
