



#image-container {
  position: relative;


}

.image-title {
  font-size: 1.5em;
}

#image-container img {

  border: 2px solid #1a5880;
  border-radius: 25px 0px 0px 0px;

}

.image-top-title {
  text-align: center;
}

.image-top-title {
  position: static;
  width: 100%;
  border-bottom: 2px solid #0E2142;
}

h2 {
  display: inline-block;
  text-align: center;
  font-size: 1.6em;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  border-radius: 0px 0px 40% 40%;
}
#triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #fff;
  border-bottom: 50px solid transparent;
  transform: rotateZ(-45deg);
}

.group > * {
  float: left;
}

#mission  {
  float: left;
}

p {
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}

.gallery-item {
  width: 32.9%;
  display: inline-block;
  float: left;
  height: 220px;
  max-height: 220px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.content {
  text-align: center;
}
.content * {
  margin-top: 20px;
}


.main-container {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .image-top-title {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    border: none;
  }
  #image-container img {
    border-radius: 25px 0px 25px 0px;
  }


}

@media screen and (min-width: 1124px) {

  .content {
    width: 100%;
  }
  p {
      /*width: 40%;*/
      width: 80%;
  }
}

@media screen and (min-width: 1624px) {

  .content {
    width: 100%;
  }
  p {
      /*width: 40%;*/
      /*width: 60%;*/
  }
}
