google-map {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}

img {
  display: block;
}

.quote {
  text-align: justify;
}

.img-container {
  width: 100%;
  height: 300px;
  display: flex;
}

.img-container {
  flex: 1 1 auto;
}
