extends ../template.jade

block vars
  - var title = "About | TJMUNQRO 2016"
  - var description = "Know what is our mission as a team planning the TJMUNQRO 2016, what you can expect from us, and why you should choose to assist"
  - var page = 'about'
  
block cHead
  link(rel="stylesheet", href="style.css")
  
block content
  h1#pageTitle About Us
    h2 Our Secretariat
    #secretariat-photo
      img(src='/assets/img/team-2.jpg', alt='')
    h2 Our Mission
    #mission
      p
        | This year, Thomas Jefferson’s Model UN & OAS aims to create an impact and make delegates aspire to create a “different” world based on their own knowledge and believes, not by what society has determined. Our mission is to form the leaders of tomorrow. Leaders that will be running businesses or entire countries based on the values they learn right now. We hope this event creates an impact on the lives and way of thinking of the debaters.
    h2 Why Choose TJ MUN & OAS?
    #choose
      p
        | By attending to TJMUN&OAS, you will develop o improve leadership skills such as diplomacy, cooperation, debate, critical thinking, empathy and innovation. These, by debating issues that current world leaders are trying to solve and come up with solutions. Also, increase the delegate's knowledge and broaden their point of view -not only during the debate, but in the whole experience of the model- on very important issues such as climate change, fight against poverty, war, and the urge of having sustainable economies around the world. Besides what was mentioned above, delegates will have the opportunity to meet people from different parts of Mexico and the world
