.register-button {
  border-radius: 15px;
  border: 2px solid black;
  background-color: red;
}

.register-button-enabled {
  background-color: red;
}
.register-button-enabled:hover {

}

.register-button-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.red {
  color: red;
}


/*
    Form
*/

iframe {
  width: 100%;
}

.form-head {
    position: relative;
    height: 60px;
}

.form-head .button-option {
  display: inline-block;
  position: absolute;
  width: 50%;
  text-align: center;
  cursor: pointer;
  color: white;
}

#school-btn {
  left: 0;
  background-color: #0E2142;
}
#school-btn:hover {
  background-color: blue;
}

#independent-btn {
  right: 0;
  background-color: #1B5E20;
}
#independent-btn:hover {
  background-color: green;
}

.school-form-head {
  background-color: #0E2142;
}

.independent-form-head {
  background-color: #1B5E20;
}
