extends ../template.jade

block vars
  - var title = "Prescorp | TJMUNQRO 2016"
  - var description = "Prescorp is an innovation that tries to bring journailism to MUN events."
  - var page = 'prescorp'
  
block cHead
  
  
block content
  h1#pageTitle Prescorp
