extends ../template.jade

block vars
  - var title = "Schedule | TJMUNQRO 2016"
  - var description = "Learn about the events in TJMUNQRO 2016"
  - var page = 'schedule'
  
block cHead
  link(rel="stylesheet", href="style.css")
  
block content
  h1#pageTitle Schedule
  
  //- &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
  //- &markers=color:red%7Clabel:C%7C40.718217,-73.998284
  #schedule-container
    a(href="https://www.google.com/maps/place/20.615575,-100.3899/", target="_blank", style="width: 100%")
      img.static-map(src="http://maps.googleapis.com/maps/api/staticmap?center=20.615575,-100.3899&zoom=17&scale=false&size=600x300&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C20.615513,-100.389311")
    #day-1-container.day-container
      h2 Day 1 - Thursday 8 
        span.side-info @ Hotel Grand Fiesta Americana
      .event-container
        h3 Registration
        .time 4:00pm - 5:00pm
        .icon-container
      .event-container
        h3 Opening Ceremony
        .time 5:00pm - 5:40pm
        .icon-container
      .event-container
        h3 Official TJMUN Photo
        .time 5:40pm - 6:20pm
        .icon-container
      .event-container
        h3 Talk
        .time 6:20pm - 7:20pm
        .icon-container
        
    #day-2-container.day-container
      h2 Day 2 - Friday 9
        span.side-info @ School Premises
      .event-container
        h3 Introductory Session
          br
          i(style="font-size: 0.7em") (OAS and Press Corps Committees)
        .time 3:00pm - 3:50pm
        .icon-container
      .event-container
        h3 1st Session
        .time 4:00pm - 5:45pm
        .icon-container
      .event-container
        h3 Break
        .time 5:45pm - 6:15pm
        .icon-container
      .event-container
        h3 2nd Session
        .time 6:15pm - 7:45pm
        .icon-container
      .event-container
        h3 Delegates' Cocktail
        .time 7:45pm - 9:45pm
        .icon-container
        
    #day-3-container.day-container
      h2 Day 3 - Saturday 10
        span.side-info @ School Premises
      .event-container
        h3 3rd Session
        .time 8:00am - 10:00am
        .icon-container
      .event-container
        h3 Break
        .time 10:00am - 10:30am
        .icon-container
      .event-container
        h3 4th Session
        .time 10:30am - 12:30pm
        .icon-container
      .event-container
        h3 Break
        .time 12:30pm - 1:00pm
        .icon-container
      .event-container
        h3 5th Session
        .time 1:00pm - 3:00pm
        .icon-container
      .event-container
        h3 Break
        .time 3:00pm - 3:30pm
        .icon-container
      .event-container
        h3 6th Session
        .time 3:30pm - 4:00pm
        .icon-container
      .event-container
        h3 Closing Ceremony
        .time 4:15pm - 5:00pm
