

#pageTitle {
  color: #1a5880;
  border: 2px solid #1a5880;
  border-radius: 0px 20px 0px 20px;
  padding-left: 10%;
  background-image: url("/assets/img/about-icon.jpg");
  background-repeat: no-repeat;
  background-size: 140px 140px;
  background-position: left 20%;
}

#image-container {
  position: relative;
}

.image-top-title {
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  text-align: center;
}

h2 {
  display: inline-block;
  text-align: center;
  font-size: 2.6em;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  border-radius: 0px 0px 40% 40%;
}
#triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #fff;
  border-bottom: 50px solid transparent;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

p {
  margin: 0 auto;
}

.content {
  text-align: center;
}
.content * {
  margin-top: 20px;
}

.main-container {
  margin-bottom: 30px;
}

@media screen and (min-width: 1260px) {
  p {
      width: 70%;
  }
}
