h1 {
  font-size: 3em;

}

#pageTitle {
  color: #1a5880;
  border: 2px solid #1a5880;
  border-radius: 0px 20px 0px 20px;
  padding-left: 10%;
  background-image: url("title_img.png");
  background-repeat: no-repeat;
  background-size: contain;;
  background-position: left;
}

h2 {
  text-align: center;
  font-size: 2.6em;
}

p {
  margin: 0 auto;
}

.main-container {
  margin-bottom: 30px;
}

@media screen and (min-width: 1260px) {
  p {
      width: 70%;
  }
}
