extends ../template.jade

block vars
  - var title = "Contact Us | TJMUNQRO 2016"
  - var description = "Here you can contact us if you have a special doubt or request"
  - var page = 'contact'

block cHead
  link(rel="stylesheet", href="style.css")
  link(rel="import", href="/assets/libs/bower/google-map/google-map.html")

block content
  h1#pageTitle Contact Us

  #contact-wrapper
    p
      | If you have any special doubts or anything for the style I would highly suggest to get in touch with us by sending us an e-mail.

    br
        
    p
      | We hope after contacting us you'll be confident enough to join our Special MUN.
      
    br  
      
    p
      | Also, if you just have an open question or want to make a comment, you're free to do it below and we will get you back ASAP
  
    br
  #info-wrapper
    .info-section
      section.clfix
        .info-label
          | E-Mail:
        .info-content
          a.mail-link(href="mailto:tjmun@itjqro.edu.mx") tjmun@itjqro.edu.mx
          br
          a.mail-link(href="mailto:afragoso@itjqro.edu.mx") afragoso@itjqro.edu.mx
      section.clfix
        .info-label
          | Location:
        .info-content
          | Queretaro, Queretaro. Rancho San Antonio, Instituto Thomas Jefferson Campus Queretaro
      section.clfix
        .info-label
          | Map:
        .info-content
          google-map(latitude="20.5880556", longitude="-100.38805555555557", apiKey="AIzaSyBOapotbW5snstEW87OkJQU9GVg2Y6Lo-4")
     
  
  //img(src="/assets/img/tjmun_welcoming-previous_year.jpg")
    //.contact-info
    //  .field Phone Number:
    //  .value.phoneNumber (+52)4422265527
      
