extends ../template.jade

block vars
  - var title = "Contact Us | TJMUNQRO 2016"
  - var description = "Here you can contact us if you have a special doubt or request"
  - var page = 'contact'

block cHead

block content
  h1 Contact Us
