.register-button {
  border-radius: 15px;
  border: 2px solid black;
  background-color: red;
}

.register-button-enabled {
  background-color: red;
}
.register-button-enabled:hover {

}

.register-button-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.red {
  color: red;
}


/*
    Form
*/

iframe {
  width: 100%;
}
.form-container {
  height: 100%;
}
#form-opt-1, #form-opt-2 {
  display: none;
}

.form-head {
    position: relative;
    height: 60px;
    transition: background-color 0.5s;
    text-align: center;
    font-size: 1.3em;
}

.form-head .button-option {
  display: inline-block;
  position: absolute;
  width: 50%;
  text-align: center;
  cursor: pointer;
  color: white;
  padding: 5px;
  transition: background-color 0.3s;
}

#school-btn {
  left: 0;
  background-color: #0E2142;
}
#school-btn:hover {
  background-color: #303F9F;
;
}

#independent-btn {
  right: 0;
  background-color: #1B5E20;
}
#independent-btn:hover {
  background-color: green;
}

.school-form-head {
  color: #ccc;
  background-color: #0E2142;
}

.independent-form-head {
  color: white;
  background-color: #1B5E20;
}

#google-form-container {
  position: relative;
}

.process-btn {
  background-color: #785818;
  position: absolute;
  bottom: 10px;
  width: 50%;
  padding: 10px;
  color: white;
  transition: background-color 0.3s;
  text-align: center;
}

.process-btn:hover {
  cursor: pointer;
}

#advisor-btn {
  right: 25%;
  background-color: #eee;
  color: #346bcb;
  border: 1px solid #a0a0a0;
}

#advisor-btn:hover {
  background-color: #303F9F;
  color: #eee;
}

#delegate-btn {
  left: 0;
  background-color: #1B5E20;
}

#delegate-btn:hover {
  background-color: green;
}
