extends ../template.jade

block vars
  - var title = "Prescorps | TJMUNQRO 2016"
  - var description = "Prescorp is an innovation that tries to bring journailism to MUN events."
  - var page = 'prescorps'
  
block cHead
  
  
block content
  h1#pageTitle Presscorps
